@model CreateCategoryCommand
@{
    Layout = "../Shared/_DashboardLayout.cshtml";
}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="header-title">Kategori Oluştur</h4>

        <form asp-controller="Blog" asp-action="CreateCategory" method="post">
            <div class="mb-4">
                <label asp-for="@Model.Title">Kategori Adı</label>
                <input class="form-control" type="text" asp-for="@Model.Title">
                <span class="text-danger" asp-validation-for="@Model.Title"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>

        </form>
    </div>
</div>