@{
    Layout = "_AuthLayout";
}
@section title{Şifremi Unuttum }
<form method="post" asp-controller="Auth" asp-action="ForgetPassword">
    <div class="login-form-head">
        <h4>Şifremi Unuttum</h4>
        <p>Kullanıcı adınıza bağlı mail adresinize gerekli bilgiler gönderilecektir.</p>
    </div>
    <div class="login-form-body">
        <div class="form-gp">
            <label >Kullanıcı Adı</label>
            <input name="userName" type="text">
            <i class="ti-user"></i>
        </div>        
        
        <div class="submit-btn-area">
            <button id="form_submit" type="submit">Gönder <i class="ti-arrow-right"></i></button>
        </div>
        
    </div>
</form>
